
@import "~normalize.css";
@import "~@blueprintjs/core/lib/css/blueprint.css";
@import "~@blueprintjs/icons/lib/css/blueprint-icons.css";
@import '~rsuite/dist/styles/rsuite-default.css';

body { 
    background: #fefefe;

}

.container {
    background: white !important
}

.center { 
    text-align: center;
}

h1 { 
    font-weight: bold;
}

.content {
    padding-top: 40px;
}

.card-wrapper {
    padding-bottom: 15px;
}

.bp3-navbar {
    background-image: url('https://img.bafang.com/cdn/assets/imgs/MjAxOTU/4B1BF28498F423173F2920D131E28EDD.png');
    background-color: #0b1229;
    background-size:80%;
    background-position: center center;
    background-repeat: no-repeat;
}

.logo-white {
    font-family: 'Montserrat', sans-serif;
    color: white !important;
    padding-top: 10px;
}

.main-text {
    font-weight: 800;
}

.opaque {
    background: none !important;
    position: relative;
}

.box {
    display: flex;
}

.social-actions {
    padding-bottom: 10px
}

.social-card-container{
    flex: 1 1 auto;
    /* width:20% */
    padding:5px;
    text-align: center !important;

}

.fb {
    
}

.social-share-card{
    padding:0px;
}

.social-share-card > button {
    height: 100%;
    width: 100%
}

.social-share-card > button > .fa-3x {
    display: block;
    margin: 0px auto;
    margin-bottom: 5px;
    margin-top:10px;
}

.link-share-section {
    padding-top:15px
}

.social-share-name{
    display: block;
    margin-bottom: 10px;
    padding: 0px;
}

.link-share-selector > .bp3-input{
    box-shadow: none !important;
    border: 1px solid silver;
    text-align: center;
}

.more-social-cards-button {
    display: inline-block;
    margin: 0px auto;

}

.front-page {
    background: #030717;
    height: 100vh;
    background-image: url('https://img.bafang.com/cdn/assets/imgs/MjAxOTU/4B1BF28498F423173F2920D131E28EDD.png');
    background-size: 60%;
    background-position: center top;
    background-repeat: no-repeat;
    overflow:hidden;
}

.front-page > .container {
    background: none !important;
    padding-top:250px;
}

.front-page-email-input-text{
    margin-top: 10px;
}

.fill {
    width: 100%;
    text-align: center;
}

.fill > span{
    width: 100%
}

.subtitle {
    font-weight: 400;
    color:silver
}

.front-page-footer{
    height: 60px;
    width:100%;
    background: #060d24;
    position: absolute;
    bottom:0px;
    left:0px;
    color:white;
    display: flex;
}

.front-page-footer > .container{
    background: none !important;
}

.front-page-footer ul {
    padding-top:15px;
    margin:0px auto;
    display: flex;
}

.front-page-footer ul li{
    flex: 1 1 auto;
    display: inline-block;
    text-align: center;
    color: grey;
}


.front-page-footer ul a{
    color: grey;
}

.front-page-footer:before {
    width: 100%;
    height: 1px;
    content: "";
    background: -webkit-gradient(linear,left top,right top,from(transparent),color-stop(50%,#448ef3),to(transparent));
    background: linear-gradient(90deg,transparent 0,#448ef3 50%,transparent);
    position: absolute;
}