
@import "~normalize.css";
@import "~@blueprintjs/core/lib/css/blueprint.css";
@import "~@blueprintjs/icons/lib/css/blueprint-icons.css";
@import '~rsuite/dist/styles/rsuite-default.css';

body { 
    background: #fafafa!important;
}

.container {
    background: #fafafa !important
}

.center { 
    text-align: center;
}

h1 { 
    font-weight: bold;
}

.content {
    padding-top: 40px;
}

.card-wrapper {
    padding-bottom: 15px;
}

.bp3-navbar {
    background-image: url('./header.png');
    background-color: #0b1229;
    background-size:80%;
    background-position: center center;
    background-repeat: no-repeat;
}

.logo-white {
    font-family: 'Montserrat', sans-serif;
    color: white !important;
    padding-top: 10px;
}

.main-text {
    font-weight: 800;
}

.opaque {
    background: none !important;
    position: relative;
}

.box {
    display: flex;
}

.social-actions {
    padding-bottom: 10px
}

.social-card-container{
    flex: 1 1 auto;
    /* width:20% */
    padding:5px;
    text-align: center !important;

}

.fb {
    
}

.social-share-card{
    padding:0px;
}

.social-share-card > button {
    height: 100%;
    width: 100%
}

.social-share-card > button > .fa-3x {
    display: block;
    margin: 0px auto;
    margin-bottom: 5px;
    margin-top:10px;
}

.link-share-section {
    padding-top:15px
}

.social-share-name{
    display: block;
    margin-bottom: 10px;
    padding: 0px;
}

.link-share-selector > .bp3-input{
    box-shadow: none !important;
    border: 1px solid silver;
    text-align: center;
}

.more-social-cards-button {
    display: inline-block;
    margin: 0px auto;

}

.front-page {
    background: #030717;
    height: 100%;
    background-image: url('./header.png');
    background-size: 60%;
    background-position: center top;
    background-repeat: no-repeat;
}

.front-page > .container {
    background: none !important;
    padding-top:100px;
}

.front-page-email-input-text{
    margin-top: 10px;
}

.fill {
    width: 100%;
    text-align: center;
}

.fill > span{
    width: 100%
}

.subtitle {
    font-weight: 400;
    color:silver;
    line-height:50px;
}

.front-page-footer{
    height: 60px;
    width:100%;
    background: #060d24;
    position: absolute;
    bottom:0px;
    left:0px;
    color:white;
    display: flex;
}

.front-page-footer > .container{
    background: none !important;
}

.front-page-footer ul {
    padding-top:15px;
    margin:0px auto;
    display: flex;
}

.front-page-footer ul li{
    flex: 1 1 auto;
    display: inline-block;
    text-align: center;
    color: grey;
}


.front-page-footer ul a{
    color: grey;
}

.front-page-footer:before {
    width: 100%;
    height: 1px;
    content: "";
    background: -webkit-gradient(linear,left top,right top,from(transparent),color-stop(50%,#448ef3),to(transparent));
    background: linear-gradient(90deg,transparent 0,#448ef3 50%,transparent);
    position: absolute;
}

.rltve{
    position: relative;
}

.main-user-banner{
    background-image: url('./header.png');
    background-size: 110%;
    background-repeat: no-repeat;
    background-position: center center;
    background-color: #030717;
    background-blend-mode: difference;
    padding-top: 30px;
}

.main-user-banner:before {
    width: 100%;
    height: 3px;
    content: "";
    background: -webkit-gradient(linear,left top,right top,from(transparent),color-stop(50%,#448ef3),to(transparent));
    background: linear-gradient(90deg,transparent 0,#448ef3 50%,transparent);
    position: absolute;
    top:0px;
}

.main-user-banner:after {
    width: 100%;
    height: 3px;
    content: "";
    background: -webkit-gradient(linear,left top,right top,from(transparent),color-stop(50%,#448ef3),to(transparent));
    background: linear-gradient(90deg,transparent 0,#448ef3 50%,transparent);
    position: absolute;
    bottom:0px;
}

.main-user-banner .main-text{
    color: white;
}

.more-social-cards-button{
    display: flex;
    justify-content: center;
}

.blue-card:hover {
    cursor: pointer;
    background: rgba(48,117,238,.15);
    border: 1px solid #4e88f0;
}

.about-page {
    background: #030717;
    height: 100vh;
    background-image: url('./header.png');
    background-size: 60%;
    background-position: center top;
    background-repeat: no-repeat;
    overflow:hidden;
}

.about-page > .container {
    background: none !important;
}

.blue-card-perm {
    cursor: pointer;
    opacity: 0.99;
    background:linear-gradient(to bottom, rgba(255,0,0,0), rgba(48,117,238,.15));
    border: 1px solid #4e88f0;
    color:white;
    text-align: center;
    position: relative;
}

.blue-card-perm svg{
    padding-left:5px;
    padding-right:5px;
}

.card-container {
    padding: 2px;
    padding-left:10px !important;
    padding-right:10px !important;
}

.header{
    height:50px;
}

.about-logo{
    margin-top:50px;
}

.card-row {
    padding-top:8px;
    padding-bottom:8px;
    /* opacity: 0.7; */
}

.join-button {
    background: -webkit-gradient(linear,left top,right top,from(#5eadf8),to(#3075ee));
    background: linear-gradient(90deg,#5eadf8,#3075ee);
    -webkit-box-shadow: 0 2px 6px 0 rgba(48,117,238,.65);
    box-shadow: 0 2px 6px 0 rgba(48,117,238,.65);
}

body, html {
    color: #000;
    background: #fff;
    font-size: 14px;
    line-height: 1;
    -webkit-user-select: text;
    -moz-user-select: text;
    -ms-user-select: text;
    user-select: text;
    -webkit-overflow-scrolling: touch;
    margin: 0;
    padding: 0;
    font-family: SF Pro Text,SF Pro Icons,Helvetica Neue,Helvetica,Arial,sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: none;
}

html {
    --scrollbarBG: #CFD8DC;
    --thumbBG: #90A4AE;
}

body::-webkit-scrollbar {
width: 11px;
}
body {
    overflow-x: hidden;
    scrollbar-width: thin;
    scrollbar-color: var(--thumbBG) var(--scrollbarBG);
}
body::-webkit-scrollbar-track {
    background: var(--scrollbarBG); 
}
body::-webkit-scrollbar-thumb {
    background-color: var(--thumbBG) ;
    border-radius: 6px;
    border: 3px solid var(--scrollbarBG);
}

.fa-gradient {
	background: -webkit-gradient(linear, left top, left bottom, from(#f00), to(#333));
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}

.full-row-highlighted{
    min-height:1000px;
    margin-top:100px;
    background-size:60% 60%;
    background-repeat: no-repeat;
    background-position: center bottom;
    /* background: -webkit-gradient(linear,left top,right top,from(#0b1229),color-stop(51%,#151e3a),to(#0b1229));
    background: linear-gradient(90deg,#0b1229,#151e3a 51%,#0b1229); */
    /* opacity: 0.6; */
    /* background-position: center-left; */
}

.full-row-highlighted .container{
    background: none !important;
    padding:0px;
    padding-top: 50px;
}

.highlight-divider:before {
    width: 100%;
    height: 1px;
    content: "";
    background: -webkit-gradient(linear,left top,right top,from(transparent),color-stop(50%,#448ef3),to(transparent));
    background: linear-gradient(90deg,transparent 0,#448ef3 50%,transparent);
    position: absolute;
}

.prelaunch-tier-row {
    min-height:100px;
    margin-bottom: 20px;
}

.gradient-button {
    background: -webkit-gradient(linear,left top,right top,from(#5eadf8),to(#3075ee)) !important;
    background: linear-gradient(90deg,#5eadf8,#3075ee) !important;
    -webkit-box-shadow: 0 2px 6px 0 rgba(48,117,238,.65) !important;
    box-shadow: 0 2px 6px 0 rgba(48,117,238,.65);
    border-radius: 2px;
}

.circle-icon-container {
    height:100px;
    width:100%;
    border: 1px solid #4e88f0;
    background: black;
    border-radius:5px;
    margin-bottom:15px;
    opacity: 0.6;
}

.prelaunch-tier-card {
    /* opacity: 0.6; */
    background-image:url('https://allthatsinteresting.com/wordpress/wp-content/uploads/2018/01/retro.jpg');
    background-size:cover;
    opacity: 0.9;
    height:250px;
    margin-bottom:30px;
}

.prelaunch-tier-bg{
    /* background: black; */
    height: 100%;
    width: 100%;
    position: relative;
}

.feature-card-bg{
    opacity: 0.15;
    position: absolute;
    height: 100%;
    width: 100%;
    background-image:url('https://financeandmarkets.com/wp-content/uploads/2019/06/Wall-Street-bull.jpg');
    background-size:cover;
    margin-top:-20px;
    margin-left:-20px;
    z-index: -1
}

.prelaunch-card h4{
    color: white;
}

.footer{
    height: 300px;
    width:100%;
    background: rgb(3,7,23);
    background: linear-gradient(180deg, rgba(3,7,23,1) 0%, rgba(0,0,0,1) 43%, rgba(0,0,0,1) 100%);
}

.footer > .container{
    height: 100%;
    background:none !important;
    position: relative;
}

.footer-image{
    height: 100%;
    width:100%;
    background-image:url('https://brex.com/static/planet-958a41d34aa478860ee108978fcd26b4.png');
    background-size:80% 200px;
    background-repeat: no-repeat;
    opacity: 0.9;
    background-position: center bottom;
    position: absolute;
    z-index: 1;
    -webkit-mask-image: -webkit-gradient(linear, left bottom, left top, 
    from(rgba(0,0,0,1)), to(rgba(0,0,0,0)));
}

.subtitle-subtext{
    color: white !important;
}

.access-form{
    margin: 0 auto;
    display: inline-block;
}